
.cover_image {
    width: 50%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.chapter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

span,
picture {
    width: 50%;
    height: 100vh;
}

img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

h2 {
    font-weight: bold;
    font-size: 48px;
    text-align: right;
    color: var(--main-text-color);
    padding: 35% 0px 0px 0px;
}

h3 {
    font-size: 36px;
    padding: 0px 0px 240px 0px;
}

h6 {
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5rem;
}

.content-list {
    list-style: none;
    font-size: 16px;
    line-height: 3rem;
    padding: 45% 0px 0px 25%;
}

b {
    font-size: 24px;
    padding: 0px 48px 0px 0px;
}

.check {
    padding: 10px 0px 0px 0px;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}