.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.outro {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.text_page {
  width: 50%;
  height: 100vh;
  padding: 32px;
}